.tooltip{
    .tooltip-inner {
    padding: 20px;
    background: #fff;
    color: #fff;
    background: $red-hc;
    border: 2px solid $red-hc;
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.3);
}

    &.bs-tooltip-right .arrow::before{
        border-right-color:$red-hc;
    }
    &.bs-tooltip-left .arrow::before{
        border-left-color:$red-hc;
    }
    &.bs-tooltip-bottom .arrow::before{
        border-bottom-color:$red-hc;
    }
    &.bs-tooltip-top .arrow::before{
        border-top-color:$red-hc;
    }
}