/* ---- COLORS ----*/
/* ----- Body -----*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin-ext");
body {
  background: #f8f8f8; }

.btn-success {
  background: #007714; }

.container-fluid {
  padding: 0 30px; }

.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden; }

.col {
  transition: all 1000ms ease; }

body {
  font-family: 'Roboto Condensed', sans-serif; }

button, input {
  font-family: 'Roboto Condensed', sans-serif; }

.main-header {
  border-bottom: 3px solid #f3f3f3;
  padding: 20px 0;
  margin-bottom: 30px; }
  .main-header a {
    color: black; }
    .main-header a:hover {
      text-decoration: none; }
  .main-header h1 span {
    color: red; }

.sidebar__results {
  margin-bottom: 15px;
  max-width: 340px;
  min-width: 320px;
  cursor: pointer; }
  .sidebar__results .video-thumbnail {
    max-width: 160px; }
  .sidebar__results .media-body {
    padding-left: 15px; }
    .sidebar__results .media-body .media-heading {
      font-size: 16px;
      font-weight: bold; }

.video__details {
  max-width: 600px; }

.statistics {
  font-size: 1.1rem; }
  .statistics em {
    padding-left: 10px; }

.tooltip .tooltip-inner {
  padding: 20px;
  background: #fff;
  color: #fff;
  background: #d3000f;
  border: 2px solid #d3000f;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.3); }

.tooltip.bs-tooltip-right .arrow::before {
  border-right-color: #d3000f; }

.tooltip.bs-tooltip-left .arrow::before {
  border-left-color: #d3000f; }

.tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #d3000f; }

.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #d3000f; }
