/* ---- COLORS ----*/
/* ----- Body -----*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin-ext");
body {
  background: #f8f8f8; }

.btn-success {
  background: #007714; }

body {
  font-family: 'Roboto Condensed', sans-serif; }

button, input {
  font-family: 'Roboto Condensed', sans-serif; }

.main-header {
  border-bottom: 3px solid #f3f3f3; }
  .main-header .top-logo {
    height: 75px; }

.sidebar__results {
  margin-bottom: 15px;
  cursor: pointer; }
  .sidebar__results .video-thumbnail {
    max-width: 160px; }
  .sidebar__results .media-body {
    padding-left: 15px; }
    .sidebar__results .media-body .media-heading {
      font-size: 16px;
      font-weight: bold; }

.tooltip .tooltip-inner {
  padding: 20px;
  background: #fff;
  color: #fff;
  background: #d3000f;
  border: 2px solid #d3000f;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.3); }

.tooltip.bs-tooltip-right .arrow::before {
  border-right-color: #d3000f; }

.tooltip.bs-tooltip-left .arrow::before {
  border-left-color: #d3000f; }

.tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #d3000f; }

.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #d3000f; }
